
.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  // This is modal bg
  &:before{
    content: "";
    display: none;
    background: rgba(0,0,0,.95);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;
    transform: translate(0, -100%);
    transform: translate3d(0, 100%, 0);

    @media (max-width: 480px) {
      background-color: #000;
    }
  }

  &:target {
    &:before {
      display: block;
      transform: translate(0, 0);
    }

    .contact-modal {
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      // .translate(0, 0);
    }
  }
}

$placeholder-color: rgba(black, .6);

::-webkit-input-placeholder { color: $placeholder-color; }
::-moz-placeholder { color: $placeholder-color; } /* firefox 19+ */
:-ms-input-placeholder { color: $placeholder-color; } /* ie */
input:-moz-placeholder { color: $placeholder-color; }

.contact-modal {
  width: 80%;
  position: fixed;
  left: 50%;
  top: -125%;
  z-index: 11;
  background-color: white;
  border-radius: 15px;
  padding: .8rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  form {
    display: flex;
    flex-flow: column wrap;

    input, textarea {
      background-color: #FFF;
      border: 0;
      padding: .6rem;
      margin: .7rem;
      font-size: 1.3rem;
      color: rgba(black, .8);

      @media (max-width: 430px) {
        font-size: 1rem;
      }
    }

    textarea {
      border: 2px solid $color-primary-4;

      @media (max-height: 430px) {
        height: 150px;
        max-height: 30vh;
      }
    }

    input {
      border-bottom: 2px solid $color-primary-1;
    }

    input[type=submit] {
      border-radius: .6rem;
      box-shadow: 3px 3px 0 0 #CCC;
      border: 1px solid #CCC;

      &:hover {
        box-shadow: 2px 2px 0 0 #CCC;
        cursor: pointer;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .6rem;
    color: rgba(black, .8);

    h3 {
      font-weight: 300;

      @media (max-width: 430px) {
        font-size: 1.2rem;
      }
    }

    .right {
      a {
          width: 240px;
          text-align: center;
          color: rgba(black, .6);
          background-color: #f1f1f1;
          border: 2px solid #CCC;
          padding: .2rem;
          border-radius: .6rem;
          box-shadow: 3px 3px 0 0 #CCC;
          text-decoration: none;
          outline: none;

          @media (max-width: 430px) {
            font-size: 1rem;
          }

          &:hover {
            background-color: #f1f1f1;
            box-shadow: 2px 2px 0 0 #CCC;
          }

          &:active {
            position: relative;
            top: 1;
            box-shadow: 0 0 0 0 #111;
          }
        }
    }
  }
}